<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thalhah.fitness">

    <application
        android:allowBackup="true"
        android:icon="@drawable/exercise"
        android:label="@string/app_name"
        android:roundIcon="@drawable/exercise"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WorkoutAct" />
        <activity android:name=".StartWorkAct" />
        <activity android:name=".EditWorkAct"></activity>
    </application>

</manifest>